*{
  	margin: 0;
  	line-height: normal;
}

.home-page-child {
    position: absolute;
    height: 7.59%;
    width: 39%;
    top: 19.08%;
    right: -10.48%;
    bottom: 73.33%;
    left: 71.48%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    opacity: 0.4;
}
.home-page-item {
    position: absolute;
    height: 7.59%;
    width: 39%;
    top: 41.98%;
    right: 71.7%;
    bottom: 50.43%;
    left: -10.7%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: contain;
    opacity: 0.4;
}
.header-child {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #fff;
    width: 1280px;
    height: 90px;
}
.logo {
    position: absolute;
    top: 13px;
    left: 80px;
    font-family: 'Kaoly Demo';
}
.profile-icon {
    position: absolute;
    top: 33px;
    left: 1176.2px;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    object-fit: cover;
}
.vector-icon {
    position: absolute;
    height: 100%;
    width: 73.85%;
    top: 0%;
    right: 26.15%;
    bottom: 0%;
    left: 0%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.group-child {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 50%;
    background-color: #f10000;
    width: 10px;
    height: 10px;
}
.div {
    position: absolute;
    top: 0px;
    left: 3px;
    font-weight: 500;
}
.ellipse-parent {
    position: absolute;
    top: 0px;
    left: 16px;
    width: 10px;
    height: 10px;
}
.cart {
    position: absolute;
    height: 26.67%;
    width: 2.03%;
    top: 36.67%;
    right: 9.53%;
    bottom: 36.67%;
    left: 88.44%;
    font-size: 7px;
    color: #fff;
}
.home1 {
    position: absolute;
    top: 0%;
    left: 0%;
    font-weight: 500;
}
.home {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 49px;
    height: 22px;
}
.shop {
    position: absolute;
    top: 0px;
    left: 73px;
    width: 41px;
    height: 22px;
}
.categories {
    position: relative;
    font-weight: 500;
}
.vector-icon1 {
    width: 18px;
    position: relative;
    border-radius: 1px;
    height: 10px;
}
.component-12 {
    position: absolute;
    top: 0px;
    left: 138px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
}
.about-us {
    position: absolute;
    top: 0px;
    left: 270px;
    width: 72px;
    height: 22px;
}
.contact-us {
    position: absolute;
    top: 0px;
    left: 366px;
    width: 86px;
    height: 22px;
}
.home-parent {
    position: absolute;
    top: 33px;
    left: 414px;
    width: 452px;
    height: 22px;
    font-size: 18px;
    color: #000;
}
.header {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1280px;
    height: 90px;
    font-size: 35px;
    color: #55b76b;
}
.customer-reviews-child {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1280px;
    height: 740px;
}
.customer-reviews1 {
    position: absolute;
    top: 60px;
    left: calc(50% - 176px);
}
.group-item {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 20px;
    background-color: #fff;
    border: 2px solid #55b76b;
    box-sizing: border-box;
    width: 360px;
    height: 450px;
}
.vector-icon2 {
    position: absolute;
    height: 5.33%;
    width: 6.67%;
    top: 90.44%;
    right: 4.44%;
    bottom: 4.22%;
    left: 88.89%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.group-inner {
    position: absolute;
    margin-left: 90px;
    height: 5.33%;
    width: 42.22%;
    top: 90.44%;
    right: 53.61%;
    bottom: 4.22%;
    left: 4.17%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.ellipse-icon {
    position: absolute;
    top: 30px;
    left: 130px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
}
.sarah-johnson {
    position: absolute;
    top: 145px;
    left: 104px;
    line-height: 25px;
    font-weight: 600;
}
.i-absolutely-love {
    margin: 0;
}
.i-absolutely-love-container {
    position: absolute;
    top: 190px;
    left: 15px;
    font-size: 16px;
    line-height: 25px;
}
.ellipse-div {
    position: absolute;
    top: 18px;
    left: 320px;
    border-radius: 50%;
    background-color: #55b76b;
    width: 24px;
    height: 24px;
}
.rectangle-parent {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 360px;
    height: 450px;
}
.mark-anderson {
    position: absolute;
    top: 145px;
    left: 98px;
    line-height: 25px;
    font-weight: 600;
}
.the-bamboo-toothbrushes-container {
    position: absolute;
    top: 190px;
    left: 20px;
    font-size: 16px;
    line-height: 25px;
}
.rectangle-group {
    position: absolute;
    top: 0px;
    left: 380px;
    width: 360px;
    height: 450px;
}
.emily-lee {
    position: absolute;
    top: 145px;
    left: 130px;
    line-height: 25px;
    font-weight: 600;
}
.rectangle-container {
    position: absolute;
    top: 0px;
    left: 760px;
    width: 360px;
    height: 450px;
}
.group-parent {
    position: absolute;
    top: 154px;
    left: 80px;
    width: 1120px;
    height: 450px;
    text-align: center;
    font-size: 24px;
    font-family: Lato;
}
.customer-reviews-item {
    position: absolute;
    height: 4.86%;
    width: 87.53%;
    top: 87.03%;
    right: 6.22%;
    bottom: 8.11%;
    left: 6.25%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.customer-reviews {
    position: absolute;
    top: 3651px;
    left: 0px;
    width: 1280px;
    height: 740px;
    font-size: 36px;
    font-family: Montserrat;
}
.home-page-inner {
    position: absolute;
    height: 2.37%;
    width: 7.66%;
    top: 70.27%;
    right: 12.11%;
    bottom: 27.36%;
    left: 80.23%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.home-page-child1 {
    position: absolute;
    height: 1.79%;
    width: 5.8%;
    top: 70.88%;
    right: 20.3%;
    bottom: 27.33%;
    left: 73.91%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.blogs-child {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #55b76b;
    width: 1280px;
    height: 684px;
}
.blogs1 {
    position: absolute;
    top: 60px;
    left: calc(50% - 54px);
    font-size: 36px;
    font-family: Montserrat;
    color: #fff;
    text-align: left;
}
.group-child7 {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 20px;
    background-color: #fff;
    width: 360px;
    height: 470px;
}
.mask-group-icon {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 360px;
    height: 260px;
    object-fit: cover;
}
.embracing-sustainability {
    position: absolute;
    top: 280px;
    left: 51px;
    font-size: 24px;
    line-height: 25px;
    font-weight: 600;
}
.the-power-of {
    position: absolute;
    top: 350px;
    left: 18px;
    line-height: 25px;
}
.read-more {
    position: relative;
    line-height: 25px;
    font-weight: 800;
}
.read-more-wrapper {
    position: absolute;
    top: 408px;
    left: 102px;
    border-radius: 5px;
    background-color: #55b76b;
    border-bottom: 3px solid #333;
    box-sizing: border-box;
    height: 42px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px 35px;
    color: #fff;
}
.group-div {
    position: absolute;
    top: 154px;
    left: 80px;
    width: 360px;
    height: 470px;
}
.sustainable-living-made-container {
    position: absolute;
    top: 280px;
    left: 82px;
    font-size: 24px;
    line-height: 27px;
    font-weight: 600;
}
.how-greeny-helps {
    position: absolute;
    top: 350px;
    left: 33px;
    line-height: 25px;
}
.rectangle-parent1 {
    position: absolute;
    top: 154px;
    left: 460px;
    width: 360px;
    height: 470px;
}
.greenys-guide-to-container {
    position: absolute;
    top: 280px;
    left: 61px;
    font-size: 24px;
    line-height: 27px;
    font-weight: 600;
}
.reducing-your-carbon-container {
    position: absolute;
    top: 349px;
    left: 65px;
}
.rectangle-parent2 {
    position: absolute;
    top: 154px;
    left: 840px;
    width: 360px;
    height: 470px;
}
.blogs {
    position: absolute;
    top: 4391px;
    left: 0px;
    width: 1280px;
    height: 684px;
    text-align: center;
}
.side-view-women-carrying-fabri-icon {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1280px;
    height: 550px;
    object-fit: contain;
}
.newsletter-subscription-form-child {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #333;
    width: 1280px;
    height: 550px;
    opacity: 0.8;
}
.group-child10 {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 20px;
    background-color: #fff;
    width: 930px;
    height: 430px;
}
.mask-group-icon3 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 360px;
    height: 430px;
    object-fit: cover;
}
.subscribe-to-our {
    position: absolute;
    top: 30px;
    left: 459px;
    font-size: 24px;
    line-height: 60px;
    font-family: Montserrat;
    color: #333;
}
.group-child11 {
    position: absolute;
    top: 8px;
    left: 0px;
    border-radius: 5px;
    border: 1px solid #333;
    box-sizing: border-box;
    width: 360px;
    height: 44px;
}
.enter-your-name {
    position: absolute;
    top: 0px;
    left: 20px;
    line-height: 60px;
}
.line-div {
    position: absolute;
    top: 44px;
    left: 20px;
    border-top: 1px solid #000;
    box-sizing: border-box;
    width: 321px;
    height: 1px;
}
.rectangle-parent4 {
    position: absolute;
    top: 178px;
    left: 475px;
    width: 360px;
    height: 60px;
}
.rectangle-parent5 {
    position: absolute;
    top: 258px;
    left: 475px;
    width: 360px;
    height: 60px;
}
.subscribe-wrapper {
    position: absolute;
    top: 358px;
    left: 566px;
    border-radius: 5px;
    background-color: #55b76b;
    border-bottom: 3px solid #333;
    box-sizing: border-box;
    height: 42px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px 35px;
    text-align: center;
    color: #fff;
}
.join-our-green-container {
    position: absolute;
    top: 98px;
    left: 448px;
    line-height: 25px;
    font-weight: 500;
    text-align: center;
}
.rectangle-parent3 {
    position: absolute;
    top: 60px;
    left: 175px;
    width: 930px;
    height: 430px;
}
.newsletter-subscription-form {
    position: absolute;
    top: 5075px;
    left: 0px;
    width: 1280px;
    height: 550px;
    color: #000;
}
.footer-child {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #333;
    width: 1280px;
    height: 450px;
}
.group-child14 {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 10px;
    background-color: #fff;
    width: 265px;
    height: 80px;
}
.greenify {
    position: absolute;
    top: 8px;
    left: 47px;
}
.rectangle-parent6 {
    position: absolute;
    top: 60px;
    left: 80px;
    width: 265px;
    height: 80px;
    font-size: 35px;
    color: #55b76b;
    font-family: 'Kaoly Demo';
}
.pages {
    position: absolute;
    top: 180px;
    left: 80px;
    font-weight: 800;
}
.contact-us2 {
    position: absolute;
    top: 180px;
    left: 876px;
}
.home2 {
    position: absolute;
    top: 229px;
    left: 80px;
    font-size: 20px;
    font-weight: 600;
}
.shop2 {
    position: absolute;
    top: 229px;
    left: 175px;
    font-size: 20px;
    font-weight: 600;
}
.categories1 {
    position: absolute;
    top: 229px;
    left: 259px;
    font-size: 20px;
    font-weight: 600;
}
.about-us2 {
    position: absolute;
    top: 229px;
    left: 402px;
    font-size: 20px;
    font-weight: 600;
}
.contact-us3 {
    position: absolute;
    top: 229px;
    left: 528px;
    font-size: 20px;
    font-weight: 600;
}
.vector-icon5 {
    position: absolute;
    height: 100%;
    width: 12.9%;
    top: 0%;
    right: 87.1%;
    bottom: 0%;
    left: 0%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.vector-icon6 {
    position: absolute;
    height: 100%;
    width: 12.9%;
    top: 0%;
    right: 58.06%;
    bottom: 0%;
    left: 29.03%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.vector-icon7 {
    position: absolute;
    height: 100%;
    width: 12.9%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 87.1%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.group-icon1 {
    position: absolute;
    height: 100%;
    width: 12.9%;
    top: 0%;
    right: 29.03%;
    bottom: 0%;
    left: 58.06%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.vector-parent {
    position: absolute;
    height: 5.33%;
    width: 14.53%;
    top: 65.11%;
    right: 79.22%;
    bottom: 29.56%;
    left: 6.25%;
}
.vector-icon8 {
    position: absolute;
    height: 82.76%;
    width: 10.57%;
    top: 0%;
    right: 89.43%;
    bottom: 17.24%;
    left: 0%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.vector-group {
    position: absolute;
    height: 6.44%;
    width: 17.73%;
    top: 53.33%;
    right: 13.83%;
    bottom: 40.22%;
    left: 68.44%;
}
.vector-icon9 {
    position: absolute;
    height: 82.76%;
    width: 12.2%;
    top: 0%;
    right: 87.8%;
    bottom: 17.24%;
    left: 0%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.infogreenycom {
    position: absolute;
    top: 0px;
    left: 54px;
    font-weight: 800;
}
.vector-container {
    position: absolute;
    height: 6.44%;
    width: 19.22%;
    top: 64.22%;
    right: 12.34%;
    bottom: 29.33%;
    left: 68.44%;
}
.vector-icon10 {
    position: absolute;
    height: 41.38%;
    width: 5.8%;
    top: 0%;
    right: 94.2%;
    bottom: 58.62%;
    left: 0%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.vector-parent1 {
    position: absolute;
    height: 12.89%;
    width: 25.47%;
    top: 75.11%;
    right: 6.09%;
    bottom: 12%;
    left: 68.44%;
}
.terms-services {
    position: absolute;
    top: 372px;
    left: 80px;
    font-size: 16px;
}
.greeny-all {
    position: absolute;
    top: 411px;
    left: 80px;
    font-size: 16px;
}
.footer {
    position: absolute;
    top: 5625px;
    left: 0px;
    width: 1280px;
    height: 450px;
    font-size: 24px;
    color: #fff;
}
.our-best-selling-sustainable-p-child {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1280px;
    height: 1593px;
}
.our-best-selling-sustainable {
    position: absolute;
    top: 60px;
    left: calc(50% - 360px);
    font-size: 36px;
    font-family: Montserrat;
    text-align: left;
}
.back-icon {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: contain;
}
.front-icon {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}
.organic-cotton-tote {
    position: absolute;
    top: 470px;
    left: 0px;
    line-height: 25px;
    font-weight: 600;
}
.rs {
    position: absolute;
    top: 515px;
    left: 0px;
    line-height: 25px;
    font-weight: 800;
}
.rs1 {
    position: absolute;
    top: 518px;
    left: 76px;
    font-size: 18px;
    text-decoration: line-through;
    line-height: 25px;
    color: #767676;
}
.reviews {
    position: absolute;
    top: 515px;
    left: 259px;
    font-size: 18px;
    text-decoration: underline;
    line-height: 25px;
}
.buy-now-wrapper {
    position: absolute;
    top: 570px;
    left: 106px;
    border-radius: 5px;
    background-color: #55b76b;
    border-bottom: 3px solid #333;
    box-sizing: border-box;
    height: 42px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px 35px;
    font-size: 16px;
    color: #fff;
}
.product-1-parent {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 360px;
    height: 612px;
    font-size: 24px;
}
.rs2 {
    position: absolute;
    top: 518px;
    left: 90px;
    text-decoration: line-through;
    line-height: 25px;
    color: #767676;
}
.reviews1 {
    position: absolute;
    top: 515px;
    left: 260px;
    text-decoration: underline;
    line-height: 25px;
}
.hemp-backpack {
    position: absolute;
    top: 470px;
    left: 1px;
    font-size: 24px;
    line-height: 25px;
    font-weight: 600;
}
.rs3 {
    position: absolute;
    top: 515px;
    left: 0px;
    font-size: 24px;
    line-height: 25px;
    font-weight: 800;
}
.product-2 {
    position: absolute;
    top: 0px;
    left: 1px;
    width: 360px;
    height: 450px;
}
.rs-parent {
    position: absolute;
    top: 0px;
    left: 379px;
    width: 361px;
    height: 612px;
}
.buy-now-frame {
    position: absolute;
    top: 570px;
    left: 105px;
    border-radius: 5px;
    background-color: #55b76b;
    border-bottom: 3px solid #333;
    box-sizing: border-box;
    height: 42px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px 35px;
    font-size: 16px;
    color: #fff;
}
.rs-group {
    position: absolute;
    top: 0px;
    left: 759px;
    width: 361px;
    height: 612px;
}
.group-container {
    position: absolute;
    top: 154px;
    left: 80px;
    width: 1120px;
    height: 612px;
}
.rs6 {
    position: absolute;
    top: 518px;
    left: 76px;
    text-decoration: line-through;
    line-height: 25px;
    color: #767676;
}
.reviews3 {
    position: absolute;
    top: 515px;
    left: 259px;
    text-decoration: underline;
    line-height: 25px;
    color: #000;
}
.bamboo-toothbrush {
    position: absolute;
    top: 470px;
    left: 0px;
    font-size: 24px;
    line-height: 25px;
    font-weight: 600;
}
.frame-div {
    position: absolute;
    top: 573px;
    left: 106px;
    border-radius: 5px;
    background-color: #55b76b;
    border-bottom: 3px solid #333;
    box-sizing: border-box;
    height: 42px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px 35px;
    font-size: 16px;
    color: #fff;
}
.rs-container {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 360px;
    height: 615px;
}
.reviews4 {
    position: absolute;
    top: 515px;
    left: 248px;
    text-decoration: underline;
    line-height: 25px;
    color: #000;
}
.buy-now-wrapper1 {
    position: absolute;
    top: 573px;
    left: 105px;
    border-radius: 5px;
    background-color: #55b76b;
    border-bottom: 3px solid #333;
    box-sizing: border-box;
    height: 42px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px 35px;
    font-size: 16px;
    color: #fff;
}
.rs-parent1 {
    position: absolute;
    top: 0px;
    left: 380px;
    width: 360px;
    height: 615px;
}
.buy-now-wrapper2 {
    position: absolute;
    top: 573px;
    left: 104px;
    border-radius: 5px;
    background-color: #55b76b;
    border-bottom: 3px solid #333;
    box-sizing: border-box;
    height: 42px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px 35px;
    font-size: 16px;
    color: #fff;
}
.rs-parent2 {
    position: absolute;
    top: 0px;
    left: 760px;
    width: 360px;
    height: 615px;
}
.group-parent1 {
    position: absolute;
    top: 816px;
    left: 80px;
    width: 1120px;
    height: 615px;
}
.explore-more-wrapper {
    position: absolute;
    top: 1491px;
    left: calc(50% - 97px);
    border-radius: 5px;
    background-color: #333;
    border-bottom: 3px solid #55b76b;
    box-sizing: border-box;
    height: 42px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px 35px;
    font-size: 16px;
    color: #fff;
}
.our-best-selling-sustainable-p {
    position: absolute;
    top: 1314px;
    left: 0px;
    width: 1280px;
    height: 1593px;
    text-align: center;
    font-size: 18px;
}
.environment-volunteer-teamwork-icon {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1280px;
    height: 744px;
    object-fit: cover;
}
.about-us-child {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #fff;
    width: 1280px;
    height: 744px;
    opacity: 0.85;
}
.about-us4 {
    position: absolute;
    top: 60px;
    left: calc(50% - 86px);
    font-size: 36px;
    font-family: Montserrat;
    text-align: left;
}
.rectangle-parent7 {
    position: absolute;
    top: 164px;
    left: 507px;
    width: 265px;
    height: 80px;
    text-align: left;
    font-size: 35px;
    color: #55b76b;
    font-family: 'Kaoly Demo';
}
.at-greeny-we-container {
    position: absolute;
    top: 294px;
    left: 126px;
    line-height: 22px;
}
.to-be-the-container {
    position: absolute;
    top: 432px;
    left: calc(50% - 402px);
    line-height: 22px;
}
.mission-statement {
    position: absolute;
    top: 390px;
    left: calc(50% - 83px);
    font-size: 20px;
    line-height: 22px;
    font-weight: 600;
    color: #000;
}
.to-create-a-container {
    position: absolute;
    top: 548px;
    left: calc(50% - 487px);
    line-height: 22px;
}
.vision-statement {
    position: absolute;
    top: 506px;
    left: calc(50% - 76px);
    font-size: 20px;
    line-height: 22px;
    font-weight: 600;
    color: #000;
}
.read-more-wrapper1 {
    position: absolute;
    top: 642px;
    left: calc(50% - 83px);
    border-radius: 5px;
    background-color: #55b76b;
    border-bottom: 3px solid #333;
    box-sizing: border-box;
    height: 42px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px 35px;
    color: #fff;
}
.about-us3 {
    position: absolute;
    top: 2907px;
    left: 0px;
    width: 1280px;
    height: 744px;
    text-align: center;
}
.home-page-child2 {
    position: absolute;
    top: 120px;
    left: 715px;
    width: 673px;
    height: 682px;
    object-fit: contain;
}
.welcome-to-greeny1 {
    font-size: 48px;
}
.welcome-to-greeny {
    margin: 0;
    font-size: 40px;
    color: #000;
}
.b {
    font-family: Montserrat;
}
.shopping {
    margin: 0;
    font-weight: 900;
}
.welcome-to-greeny-container {
    position: absolute;
    top: 0px;
    left: 0px;
    line-height: 80px;
    font-size: 48px;
    font-family: Montserrat;
}
.discover-sustainability-embra-container {
    position: absolute;
    top: 340px;
    left: 3px;
    line-height: 25px;
    color: #000;
}
.shop-now-wrapper {
    position: absolute;
    top: 440px;
    left: 3px;
    border-radius: 5px;
    background-color: #55b76b;
    border-bottom: 3px solid #333;
    box-sizing: border-box;
    height: 42px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px 35px;
    text-align: center;
    color: #fff;
}
.welcome-to-greeny-your-sustain-parent {
    position: absolute;
    top: 214px;
    left: 77px;
    width: 508px;
    height: 482px;
    color: #55b76b;
}
.home-page-child3 {
    position: absolute;
    height: 3.34%;
    width: 13.79%;
    top: 12.44%;
    right: 83.16%;
    bottom: 84.21%;
    left: 3.05%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: contain;
}
.vector-icon11 {
    position: absolute;
    height: 1.78%;
    width: 9.3%;
    top: 22.09%;
    right: 89.06%;
    bottom: 76.13%;
    left: 1.64%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.vector-icon12 {
    position: absolute;
    height: 2.11%;
    width: 11.02%;
    top: 46.63%;
    right: 8.13%;
    bottom: 51.26%;
    left: 80.86%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.vector-icon13 {
    position: absolute;
    height: 1.96%;
    width: 9.43%;
    top: 2.06%;
    right: 49.87%;
    bottom: 95.98%;
    left: 40.7%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: contain;
}
.vector-icon14 {
    position: absolute;
    height: 1.08%;
    width: 5.2%;
    top: 10.02%;
    right: 74.49%;
    bottom: 88.89%;
    left: 20.31%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: contain;
}
.home-page-child4 {
    position: absolute;
    height: 2.76%;
    width: 13.67%;
    top: 58.72%;
    right: 85.08%;
    bottom: 38.52%;
    left: 1.25%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.home-page-child5 {
    position: absolute;
    height: 2.66%;
    width: 16.37%;
    top: 58.26%;
    right: 3.87%;
    bottom: 39.09%;
    left: 79.77%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.ltpathgt-icon {
    position: absolute;
    height: 2.66%;
    width: 12.4%;
    top: 82.37%;
    right: 0.49%;
    bottom: 14.97%;
    left: 87.11%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: contain;
    mix-blend-mode: overlay;
}
.ltpathgt-icon1 {
    position: absolute;
    height: 1.79%;
    width: 9.22%;
    top: 90.57%;
    right: 91.88%;
    bottom: 7.64%;
    left: -1.09%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.vector-icon15 {
    position: absolute;
    height: 1.7%;
    width: 8.72%;
    top: 72.77%;
    right: 89.98%;
    bottom: 25.53%;
    left: 1.31%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: contain;
}
.vector-icon16 {
    position: absolute;
    height: 1.64%;
    width: 7.55%;
    top: 82.72%;
    right: 91.12%;
    bottom: 15.64%;
    left: 1.34%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: contain;
}
.home-page-child6 {
    position: absolute;
    height: 5.6%;
    width: 26.55%;
    top: 89.76%;
    right: 0.16%;
    bottom: 4.64%;
    left: 73.28%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.why-choose-greenify-child {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1280px;
    height: 483px;
}
.why-choose-greeny {
    position: absolute;
    top: 60px;
    left: calc(50% - 216px);
    display: inline-block;
    width: 432px;
}
.group-child16 {
    position: absolute;
    top: 0px;
    left: 64px;
    width: 110px;
    height: 110px;
}
.sustainable-products {
    position: absolute;
    top: 133px;
    left: 7px;
    display: inline-block;
    width: 224px;
}
.explore-our-carefully-container {
    position: absolute;
    top: 174px;
    left: 0px;
    font-size: 16px;
    font-family: Lato;
    text-align: center;
    display: inline-block;
    width: 238px;
}
.group-parent3 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 238px;
    height: 250px;
}
.group-child17 {
    position: absolute;
    top: 0px;
    left: 73px;
    width: 110px;
    height: 110px;
}
.eco-friendly-choices {
    position: absolute;
    top: 133px;
    left: 18px;
    display: inline-block;
    width: 220px;
}
.make-conscious-choices-container {
    position: absolute;
    top: 174px;
    left: 0px;
    font-size: 16px;
    font-family: Lato;
    text-align: center;
    display: inline-block;
    width: 257px;
}
.group-parent4 {
    position: absolute;
    top: 0px;
    left: 282px;
    width: 257px;
    height: 269px;
}
.high-quality-selection {
    position: absolute;
    top: 133px;
    left: 0px;
    display: inline-block;
    width: 237px;
}
.invest-in-long-lasting-container {
    position: absolute;
    top: 174px;
    left: 2px;
    font-size: 16px;
    font-family: Lato;
    text-align: center;
    display: inline-block;
    width: 234px;
}
.group-parent5 {
    position: absolute;
    top: 0px;
    left: 583px;
    width: 237px;
    height: 269px;
}
.group-child19 {
    position: absolute;
    top: 0px;
    left: 68px;
    width: 110px;
    height: 110px;
}
.sustainable-packaging {
    position: absolute;
    top: 133px;
    left: 2px;
    display: inline-block;
    width: 241px;
}
.our-sustainable-packaging-container {
    position: absolute;
    top: 174px;
    left: 0px;
    font-size: 16px;
    font-family: Lato;
    text-align: center;
    display: inline-block;
    width: 246px;
}
.group-parent6 {
    position: absolute;
    top: 0px;
    left: 864px;
    width: 246px;
    height: 250px;
}
.group-parent2 {
    position: absolute;
    top: 154px;
    left: 86px;
    width: 1110px;
    height: 269px;
    font-size: 20px;
}
.why-choose-greenify {
    position: absolute;
    top: 831px;
    left: 0px;
    width: 1280px;
    height: 483px;
    font-size: 36px;
    font-family: Montserrat;
}
.home-page {
    width: 100%;
    position: relative;
    background-color: #fff;
    height: 6075px;
    overflow: hidden;
    text-align: left;
    font-size: 16px;
    color: #333;
    font-family: Lato;
}

